:root {
    --primary-color: #41053b;
    --primary-light: #b9088c;
    --primary-dark: #FF0000;
    --secondary-color: #d1d1d1;
   --light-color: #f4f4f4;
   --dark-color: #333;
   --success-color: #00FF00;
   --gray-color:   #808080;
   --error-colour: #FF0000;
   --success-color: #00FF00;
   

}